//- File Name: footer.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the global footer page for the site.
//- Updated : 2019-10-13
footer.page-footer.font-small.blue.fixed-bottom
  .footer-copyright.text-center.py-3
    | © 2019 Copyright: 200411361 - STEVEN DAVIES - steven@sdavies.ca 1-555-555-1234