extends layout
//- File Name: AboutMe.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the About Me page for the site.
//- Updated : 2019-10-13
block content
	//- Bootstrap content below
	h1.Heading1
		h1.text-center About ME:
		br
		.container-fluid
			.row
				.col-xl-12.text-center
					h5 ABOUT ME:
				//- Centered Aboout me text. 	
				.aboutMe.text-center 
					br
					p Hello and welcome to my page.  I have been a developer in various languages over the past 26 years.  I have gone back to Georgain College to enhace my skills and start working on a focus of web and web technologies. Over the past 2 years I have learned and implemented projects on HTML/CSS, MySQL, NoSql, PHP, ExpressJS, ReactJS, ASP.NET and MSSQL. I have also utilized GIT for Version Control of all projects. Please visit my PROJECTS pages to view live samples of my work.  I will also list my GITHUB Repo Below.

