extends layout

block content
	//- Contact Form Page HTML
	section#contact
		.container
			h2.title.text-uppercase.mb-0 Contact ME:
			p.subtitle.text-muted Send me a message by using the form below:
			.row
				.col-lg-12
					form#contact-form(action='/ContactMe', method='post', role='form')
						.row
							.col-md-6
								.input-group
									.input-group-prepend
										span.input-group-text.btn
											i.fa.fa-user(aria-hidden='true')
									input.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.')
								.input-group
									.input-group-prepend
										span.input-group-text.btn
											i.fa.fa-envelope(aria-hidden='true')
									input.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.')
								.input-group
									.input-group-prepend
										span.input-group-text.btn
											i.fa.fa-phone(aria-hidden='true')
									input.form-control(type='tel', placeholder='Your Phone *', required='required',
										data-validation-required-message='Please enter your phone Number.')
							.col-md-6
								.input-group
									.input-group-prepend
										span.input-group-text.btn
											i.fa.fa-comment(aria-hidden='true')
									textarea.form-control(placeholder='Your Message *', required='required', data-validation-required-message='Please enter a message.')
							.clearfix
							.col-lg-12.text-center
								button(type='submit') Submit