extends layout
//- File Name: Index.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the Main Index page for the site.
//- Updated : 2019-10-13
block content
	//- Load the Main Image from CSS for #bg-img
	main
		#bg-img
		h1.Heading1.text-center WEB DEVELOPMENT REDEFINED!
		.container-fluid
			.row
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 DELIVER FASTER
					.eBox
						img.Icon(src='../images/1121074051558096456-512.png', alt='icon image')
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 IMPROVED EFFICIENCY
					.eBox
						img.Icon(src='../images/14539180181558096453-512.png', alt='icon image')
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 IMPROVE YOUR PROCESS
					.eBox
						img.Icon(src='../images/173373361558096440-512.png', alt='icon image')
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 IMPROVE YOUR DESIGN
					.eBox
						img.Icon(src='../images/2950523971558096453-512.png', alt='icon image')
		br
		h1.Heading2.text-center RECOGNITIONS / ENDORSMENTS
		.container-fluid
			.row
				.col-xl-6.col-sm-12.text-center
					h1 Professional Recognitions
					.eBox2
						ul
							li Lean Sigma – Green Belt (Messier Bugatti Dowty)
				.col-xl-6.col-sm-12.text-center
					h1 Volunteer Recognitions
					.eBox2
						ul
							li Public Speaking – District 8 – Winner
							li Public Speaking – Kin National Convention – Runner Up
							li Kinsmen of the Year Award – Ajax (2000)
