extends layout
//- File Name: Services.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the Services page for the site.
//- Updated : 2019-10-13
block content
	//-Header
	main
		#bg-img
		h1.Heading1.text-center Welcome to my Services Page
		br
		.container-fluid
			.row
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 WEBSITE DEVELOPMENT
					.eBox
						img.Icon(src='../images/1121074051558096456-512.png', alt='icon image')
					.myText1
						ul
							li Wordpress
							li HTML
							li CSS
							li PHP
							li Express.js
							li ASP.NET
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 CUSTOM WEB APPS
					.eBox
						img.Icon(src='../images/14539180181558096453-512.png', alt='icon image')
					.myText1
						ul
							li c#
							li PHP
							li Express.js
							li ASP.NET
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 HTML / CSS Modification
					.eBox
						img.Icon(src='../images/173373361558096440-512.png', alt='icon image')
					.myText1
						ul
							li Website Updates
							li Modernization
				.col-xl-3.col-md-6.col-sm-12.text-center
					h2 ASP.NET DEVELOPMENT
					.eBox
						img.Icon(src='../images/2950523971558096453-512.png', alt='icon image')
					.myText1
						ul
							li New Application
							li Updates and Devlopement 
				//- Container End